* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.botonigresar {
	padding: 5px;
	border-radius: 20px;
}

.margen {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
}

header, footer {	
	width:100%;
	height:110px;
	position: relative;
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.navegacion{
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	border-radius: 5px;
	

}

.navegacion nav{
	width:100% ;
	max-width:1200px;
	background:#c0392b; 
	border-radius: 5px;
	color: #DAA520;


}

.navegacion nav ul{
	list-style: none;
	position: relative;
}

.navegacion nav > ul > li{
	display: inline-block;	
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.navegacion nav > ul > li:hover{
	background:#3b5998;
	
}

.navegacion nav > ul > li > a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 20px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.navegacion nav > ul > li > a span{
	font-size: 20px;
	position: absolute;
	bottom: -8px;
	display: none;
}

.navegacion nav > ul > li:hover span{
	display: block;

}

.navegacion nav ul li .submenu{
	background: #fff;
	padding:20px;
	position: absolute;
	display: none;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	border-radius: 5px;

}

.navegacion nav ul li:hover .submenu {
	display: flex;
}

.navegacion nav ul li:hover .submenu-items  {
	margin: 0 20px;
}

.navegacion nav ul li .submenu .submenu-items p{
	font-weight: 600;
	width: 110px;
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #565656;
	margin-bottom: 10px;
}

.navegacion nav ul li .submenu .submenu-items a{
	color: #474747;
	text-decoration: none;
	margin: 6px 0;
	display: block;
}


.color1 {
	background:#34495e;
    color:#fff;
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);

}
.color2 { 
	background:#DAA520;
    color:#fff;
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
}
.color3 {
	background:	#FFF5EE;
    color:#000;
}

.color4 {
	background:#c0392b;
	color:#fff;
}

.color5 {
	background:	#FFF5EE;
    color:#000;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */

}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
		-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	}

	.social ul li .icon-facebook {background:#3b5998; border-top-right-radius:5px;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;border-bottom-right-radius:5px;}

	.social ul li a:hover {
		background: #DAA520; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

	

.card1 {
	border: 1px solid #000;
	border-radius: 8px; 
	max-width: 320px;
	margin-right:10px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
}
.card1 input[type=submit]{
	padding: 5px;
	border-radius: 20px;
	width: 320px;
}
.card2 {
	border: 1px solid #ccc;
	border-radius: 8px; 
	max-width: 320px;
	margin-right:10px;
}
.card3 {
	border: 1px solid #ccc;
	border-radius: 8px;
	width: 1155px; 
	max-width: 1500px;
	margin-right:15px;
	
}

.card4 {
	border: 1px solid #000;
	border-radius: 8px;
	width: 1153px; 
	max-width: 1500px;
	margin-right:15px;

	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);

}

